
body {
    background-image: url(/img/background.jpg);
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr 240px 340px 1fr;
    grid-template-rows: 100px 70px 70px 70px 70px 40px 200px;

}
.lower-layer {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -320px;
    z-index: -1;
    height: 1600px;
    width: 640px;
    background-image: url(/img/paper.jpg);
    opacity: 1;
    border: 3px solid black;

}
.character {
    grid-area: 2/2/5/3;
}
.parameters {
    position: relative;
}
.parameter-int {
    grid-area: 2/3/3/4;
}
.parameter-str {
    grid-area: 3/3/4/4; 
}
.parameter-wol {
    grid-area: 4/3/5/4;
}

/* Геройское имя */

.hero-name, .user-name{
    grid-area: 1/2/2/3;
    display: inline-block;
    position: relative;
    top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
.user-name {
    grid-area: 1/3/2/4;
    font-weight: 700;
}
.change-name {
    grid-area: 1/3/2/4;
    position: relative;
    left: 290px;
    top: 45px;
    height: 25%;
}

/* Текущий уровень */

.current-level {

}

/* Разделитель */

.separator {
    display: inline-block;
    height: auto;
    width: 600px;
    grid-area: 6/2/7/4;
}

/* Иконка текущего персонажа */

.character img {
    width: 180px;
    border: 6px double;
}

/* Stars */

.stars {
    grid-area: 5/2/6/3;
}
.star {
    display: inline-block;
    background-image: url(/img/star1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px;
    width: 35px;
    height: 35px;
    opacity: 0.3;
}
.star:hover {
    background-size: 35px;
    opacity: 1;
}

.stars_click {
    opacity: 1;
}

/* Полоска с изображениями */

.parameter {
    top: 30px;
    right: 60px;
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    z-index: 0;
    background-size: 25px;
    background-repeat: round;
    background-position: 25px;
}

/* Позиционирование закрывающего блока */

.cover-par {
    right: 60px;
    top: 30px;
}

/* Блок, закрывающий полосу с изображениями*/

.cover-par {
    position: absolute;
    display: inline-block;
    background-color: white;
    border: 2px solid;
    border-left: 0px;
    opacity: 1;
    width: 240px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    z-index: 1;
}

/* стили кнопок "+" и "-"*/

.button-plus-minus {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    user-select: none; 
}
.button-plus-minus:hover {
    background-color: #ffc107;
}
.plus:active {
    background-color: blue;
    color: white;
}
.minus:active {
    background-color: red;
    color: white;
}

/* Позиционирование кнопок "+" и "-"*/

.plus {
    top: 35px;
    right: 30px;
}
.minus {
    top: 35px;
    right: 310px;
}

/*Стили и позиционирование счетчиков*/

.counter {
    display: inline-block;
    position: absolute;
    border: 2px solid;
    top: 35px;
    right: 0px;
}
/* Интеллект */
/* Полоса с изображениями - шкала "Интеллект"*/

.int-parameter {
    background-image: url(/img/book.png);
}

/* Сила */
/* Полоса с изображениями - шкала "Сила"*/

.str-parameter {
    background-image: url(/img/strength.png);
    background-position: 25px 30px;
}

/* Воля */
/* Полоса с изображениями - шкала "Воля"*/

.wol-parameter {
    background-image: url(/img/willpower.png);
}

/* Надписи Параметров */

.name-parameter {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

/* Блок "Все персонажи" */

.heroes {
    display: inline-block;
    position: relative;
    width: 530px;
    height: auto;
    grid-area: 7/2/9/4;
    z-index: 3;
    border: 6px double;
    padding: 20px;
}
.hidden {
    visibility: hidden;
}

/* Каждый Герои */

.hero {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 110px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 20p;
    border: 2px solid black;
}

/* Контейнер с кнопками "Показать Героев" и "Сменить Героя" */

.buttons-container {
    display: inline-block;
    position: relative;
    grid-area: 5/3/6/4;
}

/* Кнопки "Показать героев" и "Сменить Героя" */

.heroes-button {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 15px;
    grid-area: 5/3/6/4;
    border: 2px solid black;
    border-radius: 15px;
    height: 40px;
    width: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;    
    user-select: none;
}
.heroes-button span {
    display: inline-block;
    line-height: 20px;
}

.active-button {
    background-color: rgba(255, 193, 7, 0.3);
}
.active-button:active {
    background-color: rgba(255, 193, 7, 1);
}
.no-active-button {
    background-color: rgba(148, 139, 139, 1);
}
/* Позиционирование кнопки "Показать всех Героев" */

.show-all-heroes {
    left: 20px;
    top: 15px;
}

/* Позиционирование кнопки "Сменить Героя" */

.change-hero {
    left: 150px;
    top: 15px;
}

/* Кнопка "Закрыть Героев" */

 .button-close-heroes {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 30px;
    width: 30px;
 }

/* Стили для уровней персонажей */

.hero-level {
    display: inline-block;
    position: absolute;
    top: 10px;
    height: 30px;
    width: 110px;
    z-index: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: rgba(255, 193, 7, 0.5);
    line-height: 30px;
    user-select: none;
}
