.container {
    display: grid;
    grid-template-columns: 1fr 240px 340px 1fr;
    grid-template-rows: 100px 70px 70px 70px 200px 40px 200px;

}
.character {
    grid-area: 2/2/5/3;

}
.parameters {
    position: relative;
}
.parameter-int {
    grid-area: 2/3/3/4;
}
.parameter-str {
    grid-area: 3/3/4/4; 
}
.parameter-wol {
    grid-area: 4/3/5/4;
}
.character img {
    width: 180px;
    border: 6px double;
}
/* Stars */
.stars {
    grid-area: 5/2/6/3;
}
.star {
    display: inline-block;
    background-image: url("/img/star.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px;
    width: 35px;
    height: 35px;
    opacity: 0.3;
}
.star:hover {
    background-size: 35px;
    opacity: 1;
}

.stars_click {
    opacity: 1;
}

/* Parametres общие стили */
/* Полоска с изображениями */
.parameter {
    top: 30px;
    right: 60px;
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    z-index: 0;
    background-size: 25px;
    background-repeat: round;
    background-position: 25px;
}
/* Позиционирование закрывающего блока */
.cover-par {
    right: 60px;
    top: 30px;
}

/* Блок, закрывающий полосу с изображениями*/
.cover-par {
    position: absolute;
    display: inline-block;
    background-color: white;
    border: 2px solid;
    border-left: 0px;
    opacity: 1;
    width: 240px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    z-index: 1;
}
/* стили кнопок "+" и "-"*/
.button-plus-minus {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    user-select: none; 
}
.button-plus-minus:hover {
    background-color: #ffc107;
}
.plus:active {
    background-color: blue;
    color: white;
}
.minus:active {
    background-color: red;
    color: white;
}
/* Позиционирование кнопок "+" и "-"*/
.plus {
    top: 35px;
    right: 30px;
}
.minus {
    top: 35px;
    right: 310px;
}
/*Стили и позиционирование счетчиков*/
.counter {
    display: inline-block;
    position: absolute;
    border: 2px solid;
    top: 35px;
    right: 0px;
}
/* Интеллект */
/* Полоса с изображениями - шкала "Интеллект"*/
.int-parameter {
    background-image: url(/img/book.png);
}

/* Сила */
/* Полоса с изображениями - шкала "Сила"*/
.str-parameter {
    background-image: url(/img/strength.png);
}

/* Воля */
/* Полоса с изображениями - шкала "Воля"*/
.wol-parameter {
    background-image: url(/img/willpower.png);
}


/* Блок "Все персонажи" */
.heroes {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 1200px;
    grid-area: 2/2/4/4;
    background-color: yellow;
    z-index: 3;
    border: 6px double;
}
.hidden {
    display: none;
}

.hero {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 20p;
}
