.container {
    display: grid;
    grid-template-columns: 1fr 250px 300px 1fr;
    grid-template-rows: 100px 200px 40px 200px;

}
.character {
    grid-area: 2/2/3/3;

}
.parameters {
    grid-area: 2/3/4/4;

}
.character img {
    width: 180px;
    border: 6px double;
}
/* Stars */
.stars {
    grid-area: 3/2/4/3;
}
.star {
    display: inline-block;
    background-image: url("/img/star.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px;
    width: 35px;
    height: 35px;
    opacity: 0.3;
}
.star:hover {
    background-size: 35px;
    opacity: 1;
}

.stars_click {
    opacity: 1;
}

/* Parametres */
.parameter {
    display: inline-block;
    width: 300px;
    height: 30px;
    border-radius: 10px;

}
.int-parameter {
    background-image: url(/img/book.png);
    border: 1px solid;

    background-size: 25px;
    background-repeat: round;
    background-position: 25px;
}
